<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ମୋସ୍ୱାସ୍ଥ୍ୟ</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
    <style>
        #more {
            display: none;
        }
    </style>
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid py-2 border-bottom d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-decoration-none text-body pe-3" href=""><i
                            class="bi bi-telephone me-2"></i>(0674)2390674</a>
                    <span class="text-body">|</span>
                    <a class="text-decoration-none text-body px-3" href=""><i
                            class="bi bi-envelope me-2"></i>orhealth@nic.in</a>
                        <label class="toggle">
                            <!-- <input type="checkbox">
                            <span class="slider"></span>
                            <span class="labels" data-on="ଓଡ଼ିଆ" data-off="Eng"></span> -->
                        </label>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-end">
                    <div class="d-inline-flex align-items-center">
                        <div class="toogle">
                            <a href="/" id ="b1"type="button">Eng</a>
                            <a href="/landingodia" id="b2" type="button">ଓଡ଼ିଆ</a>
                        </div>
                        <!-- <a class="text-body px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-body px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-body px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-body px-2" href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-body ps-2" href="">
                            <i class="fab fa-youtube"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-white shadow-sm">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
                <a href="/landingodia" class="navbar-brand">
                    <h1 class="m-0  text-primary"><i class="fa fa-clinic-medical me-2"></i>ମୋସ୍ୱାସ୍ଥ୍ୟ</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="/landingodia" class="nav-item nav-link ">ମୂଳପୃଷ୍ଠା</a>
                        <a href="/schemeodia" class="nav-item nav-link">ଡାକ୍ତରଖାନା ଖୋଜ</a>
                        <a href="/predictionodia" class="nav-item nav-link active">ମେସିନ୍ ଲର୍ନିଂ ପୂର୍ବାନୁମାନ</a>
                        <a href="/tableuodia" class="nav-item nav-link">ଡ୍ୟାସବୋର୍ଡ</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    <div class="container-fluid bg-light py-5 my-5 ">
        <!-- <div class="container py-5"> -->
        <div class="row gx-5 predform">
            <div class="text-center mx-auto mb-5 predtitle">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">ମେସିନ୍ ଲର୍ନିଂ
                        ପୂର୍ବାନୁମାନ</h5>
                    <h1 class="display-4">ଆପଣଙ୍କର ସ୍ୱାସ୍ଥ୍ୟ ସ୍ଥିତି ଯାଞ୍ଚ କରନ୍ତୁ</h1>
                </div>
                <p class="text-dark mb-5">ଆପଣ କେବେ କରୋନାରୀ ହୃଦ୍ ରୋଗ (CHD) କିମ୍ବା ମାୟୋକାର୍ଡିଆଲ୍ ଇନଫାର୍କସନ (MI) ବିଷୟରେ
                    ରିପୋର୍ଟ କରିଛନ୍ତି କି ନାହିଁ ଜାଣନ୍ତୁ |</p>

            </div>
            <h4 style="color: red;text-align: center;"><b>{{out}}</b> </h4>
            <div class=" col-5 bg-white rounded p-5 formmain">
                <h4 class="fw-bold text-center mt-3 "></h4>
                <form method="post" action="/pred_disease_odia" enctype="multipart/form-data"  name = "sub_form">
                    {% csrf_token %}
                    <p style="font-weight:bold">ବଡି ମାସ ଇଣ୍ଡେକ୍ସ (BMI) </p>
                    <input style="width: 100px;" type="" min="0" name="BMI" id="BMI" required />
                    <p style="margin-top: 30px; font-weight:bold">ତୁମେ ତୁମର ସମଗ୍ର ଜୀବନରେ ଅତି କମରେ 100 ଟି ସିଗାରେଟ୍ ଟାଣୁଛ
                        କି?  </p>
    
                    <input type="radio" name="Smoking" id="Smoking1" value=1 />
                    <label for="Smoking1">
                        ହଁ
                    </label>
    
    
                    <input type="radio" name="Smoking" id="Smoking1" value=0 required />
                    <label for="Smoking1">
                        ନା
                    </label>
    
                    <p style="margin-top: 30px; font-weight:bold">ଭାରୀ ପାନୀୟ (ବୟସ୍କ ପୁରୁଷମାନେ ସପ୍ତାହରେ 14 ରୁ ଅଧିକ ପାନୀୟ
                        ଏବଂ ବୟସ୍କ ମହିଳାମାନେ ସପ୍ତାହରେ 7 ରୁ ଅଧିକ ପାନୀୟ ପିଉଛନ୍ତି)?</p>
    
                    <input type="radio" name="Alcohol_Drinking" id="AlcoholDrinking1" value=1 required />
                    <label for="AlcoholDrinking1">
                        ହଁ
                    </label>
    
    
                    <input type="radio" name="Alcohol_Drinking" id="AlcoholDrinking1" value=0 required />
                    <label for="AlcoholDrinking1">
                        ନା
                    </label>
    
                    <p style="margin-top: 30px; font-weight:bold">ଆପଣ କେବେ ହୃଦଘାତରୁ ପୀଡିତ ହୋଇଛନ୍ତି କି? </p>
    
                    <input type="radio" name="Stroke" id="Stroke1" value="1" required />
                    <label for="Stroke1">
                        ହଁ
                    </label>
    
    
                    <input type="radio" name="Stroke" id="Stroke1" value="0" />
                    <label for="Stroke1">
                        ନା
                    </label>
                    <p style="margin-top: 30px; font-weight:bold">ବର୍ତ୍ତମାନ ଆପଣଙ୍କର ଶାରୀରିକ ସ୍ୱାସ୍ଥ୍ୟ ବିଷୟରେ ଚିନ୍ତା
                        କରିବା, ଯେଉଁଥିରେ ଶାରୀରିକ ଅସୁସ୍ଥତା ଏବଂ ଆଘାତ ଅନ୍ତର୍ଭୁକ୍ତ, ଗତ 30 ଦିନ ମଧ୍ୟରେ କେତେ ଦିନ ଆପଣଙ୍କ ଶାରୀରିକ
                        ସ୍ୱାସ୍ଥ୍ୟ ଭଲ ନଥିଲା? (0-30 ଦିନ)</p>
                    <input style="width: 100px;" type="number" min="0" max="30" name="Physical_Health" id="Physical Health"
                        required />
                    <p style="margin-top: 30px; font-weight:bold">ତୁମର ମାନସିକ ସ୍ୱାସ୍ଥ୍ୟ ବିଷୟରେ ଚିନ୍ତା କରିବା, ଗତ 30 ଦିନ
                        ମଧ୍ୟରେ କେତେ ଦିନ ପାଇଁ ତୁମର ମାନସିକ ସ୍ୱାସ୍ଥ୍ୟ ଭଲ ନଥିଲା?</p>
                    <input style="width: 100px;" type="number" min="0" max="30" name="Mental_Health" id="Mental Health"
                        required />
                    <p style="margin-top: 30px; font-weight:bold">ଚାଲିବା କିମ୍ବା ପାହାଚ ଚଢିବାରେ ଆପଣଙ୍କର ଗମ୍ଭୀର ଅସୁବିଧା ଅଛି
                        କି? </p>
    
                    <input type="radio" name="DiffWalking" id="DiffWalking1" value="1" required />
                    <label for="DiffWalking1">
                        ହଁ
                    </label>
    
    
                    <input type="radio" name="DiffWalking" id="DiffWalking2" value="0" />
                    <label for="DiffWalking2">
                        ନା
                    </label>
    
                    <p style="margin-top: 30px; font-weight:bold">ଆପଣ ପୁରୁଷ କି ମହିଳା?  </p>
    
                    <input type="radio" name="Sex" id="Sex1" value="1" required />
                    <label for="Sex1">
                        ପୁରୁଷ
                    </label>
    
    
                    <input type="radio" name="Sex" id="Sex2" value="0" />
                    <label for="Sex2">
                        ମହିଳା
                    </label>
    
    
                    <p style="margin-top: 30px; font-weight:bold">ବୟସ ଗୋଷ୍ଠୀ</p>
                    <select name="AgeCategory" id="AgeCategory" style="height: 35px;">
                        <option selected>ବୟସ ଚୟନ କରନ୍ତୁ</option>
                        <option value="0"> 18-24</option>
                        <option value="1">25-29</option>
                        <option value="2">30-34</option>
                        <option value="3">35-39</option>
                        <option value="4">40-44</option>
                        <option value="5">45-49</option>
                        <option value="6">50-54</option>
                        <option value="7">55-59</option>
                        <option value="8">60-64</option>
                        <option value="9">65-69</option>
                        <option value="10">70-74</option>
                        <option value="11">75-79</option>
                        <option value="12">80 or older</option>
                    </select>
                    <br />
                 
    
                    <p style="margin-top: 30px; font-weight:bold">ତୁମର (ବିଶ୍ରାମ ) ରକ୍ତଚାପ ସ୍ତର କ’ଣ?</p>
                    <div>
                        <select name="Diabetic" id="Diabetic" style="height: 35px; width: 150px;">
                            <!-- <option selected>Diabetic</option> -->
                            <option value=0>80-110</option>
                            <option value=1>111-140</option>
                            <option value=2>141-170</option>
                            <option value=3>171-200</option>
                        </select>
                    </div>
    
                    <p style="margin-top: 30px; font-weight:bold">ତୁମର ହାରାହାରି ଉପବାସର ରକ୍ତ ଶର୍କରା ସ୍ତର କ’ଣ?</p>
    
                    <input type="radio" name="PhysicalActivity" id="PhyActy1" value="1" required />
                    <label for="PhyActy1">
                        ରକ୍ତ ଶର୍କରା ସ୍ତର>=120
                    </label>
    
                    <input type="radio" name="PhysicalActivity" id="PhyActy1" value="0" />
                    <label for="PhyActy1">
                        ରକ୍ତ ଶର୍କରା ସ୍ତର<120
                    </label>
    
    
                    <p style="margin-top: 30px; font-weight:bold">ଆପଣ କହିବେ କି ସାଧାରଣତ ଆପଣଙ୍କର ସ୍ୱାସ୍ଥ୍ୟ ହେଉଛି କେମିତି?</p>
    
                    <!-- <input type="radio" name="GenHealth" id="GenHealth1" value=1 required />
                    <label for="GenHealth1">
                        Yes
                    </label>
    
                    <input type="radio" name="GenHealth" id="GenHealth2" value=0 />
                    <label for="GenHealth2">
                        No
                    </label> -->
                    <div>
                        <select name="GenHealth" id="GenHealth" style="height: 35px; width: 150px;">
                            <option selected>ବର୍ଗ ଚୟନ କରନ୍ତୁ </option>
                            <option value=0>ଖରାପ ସ୍ୱାସ୍ଥ୍ୟ</option>
                            <option value=1>ଯଥାର୍ଥ ସ୍ୱାସ୍ଥ୍ୟ</option>
                            <option value=2>ଭଲ</option>
                            <option value=3>ବହୁତ ଭଲ</option>
                            <option value=4>ଉତ୍କୃଷ୍ଟ</option>
                        </select>
                    </div>
    
    
                    <p style="margin-top: 30px; font-weight:bold"> ହାରାହାରି, ଆପଣ 24 ଘଣ୍ଟା ଅବଧିରେ କେତେ ଘଣ୍ଟା ଶୋଇବେ ସମୟ?</p>
                    <input style="width: 100px; border: bottom 1px;" type="number" min="0" max="24" name="SleepTime"
                        id="SleepTime" required />
    
                    <p style="margin-top: 30px; font-weight:bold">ତୁମର ଆଜ୍‌ମା ଅଛି କି?</p>
    
                    <input type="radio" name="Asthma" id="Asthma1" value="1" required />
                    <label for="Asthma1">
                        ହଁ
                    </label>
    
                    <input type="radio" name="Asthma" id="Asthma1" value="0" />
                    <label for="Asthma1">
                        ନା
                    </label>
    
    
                    <p style="margin-top: 30px; font-weight:bold">କିଡନୀ ପଥର, ବ୍ଲାଡର ସଂକ୍ରମଣ କିମ୍ବା ଅସନ୍ତୋଷକୁ ଅନ୍ତର୍ଭୂକ୍ତ
                        କରି ନାହିଁ, ଆପଣଙ୍କୁ କେବେ କିଡନୀ ରୋଗ ଅଛି ବୋଲି କୁହାଯାଇଛି କି?</p>
    
                    <input type="radio" name="KidneyDisease" id="KidneyDisease1" value="1" required />
                    <label for="KidneyDisease1">
                        ହଁ
                    </label>
    
                    <input type="radio" name="KidneyDisease" id="KidneyDisease2" value="0" />
                    <label for="KidneyDisease2">
                        ନା
                    </label>
    
    
                    <p style="margin-top: 30px; font-weight:bold">ଆପଣଙ୍କୁ କେବେ ଚର୍ମ କର୍କଟ ହୋଇଛି କି</p>
    
                    <input type="radio" name="SkinCancer" id="SkinCancer1" value="1" required />
                    <label for="SkinCancer1">
                        ହଁ
                    </label>
    
                    <input type="radio" name="SkinCancer" id="SkinCancer2" value="0" />
                    <label for="SkinCancer2">
                        ନା
                    </label>
    
                    <div>
                        <button
                            style="height:50px; width:100px; margin-top:10px; border:none; background-color:#13C5DD; color:azure; border-radius:5px;"
                            type="submit" >ପୂର୍ବାନୁମାନ କର
                        </button>
                        
                    </div>
               
                </form>
                <!-- <div class="text-end">
                    <button style="height:50px; width:100px;" type="button" class="btn btn-primary">ପୂର୍ବାନୁମାନ
                        କର</button>
                </div> -->
            </div>
        </div>
        <!-- </div> -->
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fas fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/js/main.js"></script>
    <script>
        function myFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("myBtn");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }
    </script>
</body>

</html>