<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MoSwasthya</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
   <!-- Topbar Start -->
   <div class="container-fluid py-2 border-bottom d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-decoration-none text-body pe-3" href=""><i
                        class="bi bi-telephone me-2"></i>(0674)2390674</a>
                <span class="text-body">|</span>
                <a class="text-decoration-none text-body px-3" href=""><i
                        class="bi bi-envelope me-2"></i>orhealth@nic.in</a>
                    <!-- <label class="toggle">
                        <input type="checkbox">
                        <span class="slider"></span>
                        <span class="labels" data-on="ଓଡ଼ିଆ" data-off="Eng"></span>
                    </label> -->
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="d-inline-flex align-items-center">
                    <div class="toogle">
                        <a href="/" id ="b1"type="button">Eng</a>
                        <a href="/landingodia" id="b2" type="button">ଓଡ଼ିଆ</a>
                    </div>
                    <!-- <a class="text-body px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-body px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-body px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-body px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-body ps-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a href="/" class="navbar-brand">
                <h1 class="m-0  text-primary"><i class="fa fa-clinic-medical me-2"></i>MoSwasthya</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/scheme" class="nav-item nav-link active">Public Scheme</a>
                    <a href="/prediction" class="nav-item nav-link">FAPS</a>
                    <a href="/tableu" class="nav-item nav-link">Dashboard</a>
                   
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->

<!-- Medical Scheme Start -->

<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
          
            <h1 class="display-4">State Government Health Schemes</h1>
        </div>
        <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
            <div class="bg-light rounded text-center schemecard">
                <div class="position-relative">
                    <img style="max-height: 250px;" class="img-fluid rounded-top" src="/static/img/bsky card image.jpg" alt="">
                    
                </div>
                <div style="height: 300px;" class="text-center py-5">
                    <p>Biju Swasthya Kalyan Yojana</p>
                    <p>BSKY Helpline : 104</p>
                    <p>Annual Health coverage of Rs. 5 lakh</p>
                    <p>Additional Rs. 5lakh for the women</p>
                    <a href="/bsky" class="btn btn-primary rounded-pill py-3 px-5 my-2">Details</a>
                </div>
            </div>
            <div class="bg-light rounded text-center schemecard">
                <div class="position-relative">
                    <img style="max-height: 250px;" class="img-fluid rounded-top" src="/static/img/2.niramaya .jpg" alt="">
                    
                </div>
                <div style="height: 300px;" class="text-center py-5">
                    <p>Free Medicines Distribution Scheme</p>
                    <p>Govt. of Odisha,</p>
                    <p> Health & Family Welfare Dept</p>
                    <p>Implemented since 1st May 2015</p>
                    <a href="/niramaya" class="btn btn-primary rounded-pill py-3 px-5 my-2">Details</a>
                </div>
            </div>
            <div class="bg-light rounded text-center schemecard">
                <div class="position-relative">
                    <img style="max-height: 250px;" class="img-fluid rounded-top" src="/static/img/3.OSTF.jpg" alt="">
                    
                </div>
                <div style="height: 300px;" class="text-center py-5">
                    <p>Odisha State Treatment Fund</p>
                    <p> Financial assistance to the poor </p>
                    <p>Initiative by Govt. of Odisha</p>
                    <p>Terms and Conditions Applied</p>
                    <a href="/ostf" class="btn btn-primary rounded-pill py-3 px-5 my-2">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Medical Scheme End -->
<!-- Section 2 Start   -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Free Treatment</h5>
            <h1 class="display-4">Governmental Schemes for Free Treatment</h1>
        </div>
        <div class="row g-5">
            <div class="col-xl-4 col-lg-6">
                <div class="bg-light rounded overflow-hidden">
                    <img class="img-fluid w-100" src="/static/img/CAPITAL_LOGO.jpg" alt="Capital Hospital Logo">
                    <div style="height: 300px;" class="p-4">
                        <a class="h3 d-block mb-3" href="">Heart Checkup Clinic</a>
                        <p class="mb-4">Date: 2.12.2022</p>
                         <p>Time: 09:00am to 1:30 pm </p>   
                            
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>Location: Capital Hospital, Bhubaneswar</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>Contact No: 0674 239 1983</p>
                    </div>
                    <div  class="conicons">
                        <a class="hospcontact" href="tel:6742391983" style="text-decoration: none;"><img
                                src="/static/img/cardcall.png" alt="" ></a>
                        <div class="map">
                            <a href="https://goo.gl/maps/sw1zyNGjWoJGY1jg8"><img src="/static/img/map.png" alt=""
                                    style="padding: 10px;"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="bg-light rounded overflow-hidden">
                    <img class="img-fluid w-100" src="/static/img/SUM_LOGO.jpg" alt="SUM Hospital Logo">
                    <div style="height: 300px;" class="p-4">
                        <a class="h3 d-block mb-3" href=""> Diabetes Testing and Consultation Clinic</a>
                        <p class="mb-4"> Date :  14.12.2022</p>
                         <p> Time: 08:00am to 11:30 pm </p>   
                            
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>Location: Sum Hospital, Kalinga Nagar, Bhubaneswar</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i> Contact No: 0674 238 6281</p>
                    </div>
                    <div  class="conicons">
                        <a class="hospcontact" href="tel:6742386281" style="text-decoration: none;"><img
                                src="/static/img/cardcall.png" alt=""></a>
                        <div class="map">
                            <a href="https://g.page/sum-hospital-bhubaneswar?share"><img src="/static/img/map.png" alt=""
                                    style="padding: 10px;"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="bg-light rounded overflow-hidden">
                    <img class="img-fluid w-100" src="/static/img/Logo for Section 2-Card3.jpg" alt="VSSIMR Logo">
                    <div style="height: 300px;" class="p-4">
                        <a class="h3 d-block mb-3" href="">Heart Consultation Camp</a>
                        <p class="mb-4"> Date :  18.12.2022</p>
                         <p>Time: 09:00am to 1:30 pm </p>   
                            
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>Location : Veer Surendra Sai Institute of Medical Sciences and Research</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>Contact No:  0663 243 0768</p>
                    </div>
                    <div class="conicons">
                        <a class="hospcontact" href="tel:6632430768" style="text-decoration: none;"><img
                                src="/static/img/cardcall.png" alt="" ></a>
                        <div class="map">
                            <a href="https://goo.gl/maps/JyKuYJhp1TqPY5Wr7"><img src="/static/img/map.png" alt=""
                                    style="padding: 10px;"></a>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section 2 End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fas fa-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/lib/easing/easing.min.js"></script>
    <script src="/static/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/static/js/main.js"></script>
</body>

</html>